.mars5e-adv-div {
  position: absolute;
  display: none;
  width: auto;
  pointer-events: none;
  text-align: right;
  color: #ccc;
  align-items: center; }
  .mars5e-adv-div[data-advantage]:after {
    background: rgba(0, 0, 0, 0.8);
    padding: 0.5ch;
    border-radius: 0.5ch; }
  .mars5e-adv-div[data-advantage="1"]:after {
    content: var(--mars5e-normal-roll-label); }
  .mars5e-adv-div[data-advantage="2"]:after {
    color: var(--mars5e-success);
    content: var(--mars5e-adv-label); }
  .mars5e-adv-div[data-advantage="0"]:after {
    color: var(--mars5e-fail);
    content: var(--mars5e-dis-label); }

:root {
  --mars5e-success: var(--Whetstone-accent-primary, rgb(0, 255, 0));
  --mars5e-fail: var(--Whetstone-accent-secondary, red);
  --mars5e-tooltip-font-color: var(--Whetstone-fg-secondary, #ccc);
  --mars5e-tooltip-bg-color: var(--Whetstone-bg-secondary, rgba(0, 0, 0, 0.8));
  --mars5e-tooltip-border-color: var(--Whetstone-border-secondary, #aaa);
  --mars5e-border-color: var(--Whetstone-border-primary, #fff);
  --mars5e-invis-target-background-color: #e8e8ef;
  --mars5e-font-body: var(--Whetstone-font-family-body, "Signika", sans-serif);
  --mars5e-font-header: var(
    --Whetstone-font-family-header,
    "Modesto Condensed",
    "Palatino Linotype",
    serif
  ); }

.chat-card.mars5e-card {
  border-color: var(--mars5e-border-color); }
  .chat-card.mars5e-card .card-header {
    cursor: pointer;
    align-items: center;
    font-size: 1.7em;
    padding: 0;
    border-width: 1px;
    border-left: none;
    border-right: none; }
    .chat-card.mars5e-card .card-header img {
      width: 1.2em;
      height: 1.2em;
      flex: 0 auto;
      border: none; }
    .chat-card.mars5e-card .card-header h3 {
      line-height: inherit;
      font-size: unset; }
  .chat-card.mars5e-card footer {
    border-bottom: 1px groove; }
  .chat-card.mars5e-card .card-content {
    margin: 0; }

.mars5e-player .mars5e-gm-card .item-name,
.mars5e-player .mars5e-gm-card .card-content {
  display: none; }

.mars5e-player .mars5e-gm-card .attack .roll-d20,
.mars5e-player .mars5e-gm-card .damage .rollable,
.mars5e-player .mars5e-gm-card .damage .rollable + span,
.mars5e-player .mars5e-gm-card .attack .mars5e-result {
  display: none; }

.mars5e-player .mars5e-gm-card .mars5e-result {
  pointer-events: none; }

.mars5e-player .mars5e-gm-card .mars5e-result.player-roll {
  pointer-events: unset; }

.mars5e-player .mars5e-hidden-target .target-header h3 {
  display: none; }

.mars5e-player .mars5e-hidden-target .target-header img {
  top: 0; }

.mars5e-player .mars5e-target.mars5e-hidden-target:not(.mars5e-area-dmg) {
  min-height: calc(4em + 3px); }

.mars5e-player .mars5e-card .damage .mars5e-apply-dmg-menu {
  display: none; }

.mars5e-player .mars5e-invisible-target {
  background: none; }
  .mars5e-player .mars5e-invisible-target .mars5e-action {
    display: none; }

.mars5e-player .mars5e-result[data-resistance]:before {
  display: none; }

:root {
  --mars5e-success: var(--Whetstone-accent-primary, rgb(0, 255, 0));
  --mars5e-fail: var(--Whetstone-accent-secondary, red);
  --mars5e-tooltip-font-color: var(--Whetstone-fg-secondary, #ccc);
  --mars5e-tooltip-bg-color: var(--Whetstone-bg-secondary, rgba(0, 0, 0, 0.8));
  --mars5e-tooltip-border-color: var(--Whetstone-border-secondary, #aaa);
  --mars5e-border-color: var(--Whetstone-border-primary, #fff);
  --mars5e-invis-target-background-color: #e8e8ef;
  --mars5e-font-body: var(--Whetstone-font-family-body, "Signika", sans-serif);
  --mars5e-font-header: var(
    --Whetstone-font-family-header,
    "Modesto Condensed",
    "Palatino Linotype",
    serif
  ); }


@charset "UTF-8";
:root {
  --mars5e-success: var(--Whetstone-accent-primary, rgb(0, 255, 0));
  --mars5e-fail: var(--Whetstone-accent-secondary, red);
  --mars5e-tooltip-font-color: var(--Whetstone-fg-secondary, #ccc);
  --mars5e-tooltip-bg-color: var(--Whetstone-bg-secondary, rgba(0, 0, 0, 0.8));
  --mars5e-tooltip-border-color: var(--Whetstone-border-secondary, #aaa);
  --mars5e-border-color: var(--Whetstone-border-primary, #fff);
  --mars5e-invis-target-background-color: #e8e8ef;
  --mars5e-font-body: var(--Whetstone-font-family-body, "Signika", sans-serif);
  --mars5e-font-header: var(
    --Whetstone-font-family-header,
    "Modesto Condensed",
    "Palatino Linotype",
    serif
  ); }

.mars5e-card .mars5e-target:not(:first-child) {
  border-top: 2px groove var(--mars5e-border-color); }

.mars5e-card .target-header {
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  position: relative; }
  .mars5e-card .target-header img {
    height: 4em;
    width: 4em;
    border: none;
    position: absolute;
    left: 0;
    top: calc(1.2em + 3px); }
  .mars5e-card .target-header h3 {
    font-family: var(--mars5e-font-header);
    font-size: 1.2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: -1px 0 -1px 0;
    padding: 0 0.5ch; }

.mars5e-card .mars5e-chat-flavor + .mars5e-targets {
  border-top: 2px groove var(--mars5e-border-color); }

.mars5e-card .mars5e-target {
  font-size: 1.2em; }
  .mars5e-card .mars5e-target:not(.mars5e-area-dmg) {
    min-height: calc(5.08em + 3px); }

.mars5e-card .mars5e-action {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(4em + 3px);
  padding: 0 0 0 0.5em;
  border-left: 2px groove var(--mars5e-border-color); }
  .mars5e-card .mars5e-action label {
    flex: 0;
    flex-basis: 100%;
    margin-right: 1ch;
    margin-bottom: 0.1em;
    font-size: 0.9em; }
  .mars5e-card .mars5e-action .rollable {
    flex: 0 auto;
    text-align: center;
    min-width: 8ch; }
    .mars5e-card .mars5e-action .rollable:before {
      font-family: "Font Awesome 5 Free";
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      font-weight: 900;
      content: "\f522";
      opacity: 0.6;
      padding-right: 0.3ch; }
    .mars5e-card .mars5e-action .rollable + span {
      margin: 0 1ch; }
  .mars5e-card .mars5e-action .break {
    height: 0;
    flex-basis: 100%; }
  .mars5e-card .mars5e-action .rollable,
  .mars5e-card .mars5e-action .mars5e-result {
    position: relative;
    margin: 0 0 0.1em 4ch; }
    .mars5e-card .mars5e-action .rollable:after,
    .mars5e-card .mars5e-action .mars5e-result:after {
      margin: 0 0 0 1ch;
      font-size: 0.8em;
      opacity: 0.8;
      width: 0;
      display: inline-block;
      font-size: 0.8em;
      font-weight: normal;
      text-align: left;
      margin-left: 1ch;
      position: absolute;
      top: 0.1em; }
    .mars5e-card .mars5e-action .rollable[data-advantage="0"]:after,
    .mars5e-card .mars5e-action .mars5e-result[data-advantage="0"]:after {
      content: var(--mars5e-dis-label); }
    .mars5e-card .mars5e-action .rollable[data-advantage="2"]:after,
    .mars5e-card .mars5e-action .mars5e-result[data-advantage="2"]:after {
      content: var(--mars5e-adv-label); }
  .mars5e-card .mars5e-action .rollable:after {
    position: unset; }
  .mars5e-card .mars5e-action.mars5e-success label:after, .mars5e-card .mars5e-action.mars5e-fail label:after {
    margin: 0 0 0 0.5ch;
    font-size: 1.2em;
    opacity: 0.8;
    display: flex;
    flex-flow: row nowrap;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900; }
  .mars5e-card .mars5e-action.mars5e-success label:after {
    content: var(--mars5e-hit-label); }
  .mars5e-card .mars5e-action.mars5e-fail label:after {
    content: var(--mars5e-miss-label); }
  .mars5e-card .mars5e-action .mars5e-result {
    text-shadow: none;
    cursor: unset; }
  .mars5e-card .mars5e-action .mars5e-result .dice-tooltip {
    background: var(--mars5e-tooltip-bg-color);
    color: var(--mars5e-tooltip-font-color);
    border-color: var(--mars5e-tooltip-border-color);
    backdrop-filter: blur(0.3em);
    padding: 0.5ch;
    pointer-events: none;
    width: none;
    transition: all 0.3s ease-in-out;
    bottom: 1.7em;
    position: absolute;
    box-shadow: 0 0px 10px #000c;
    width: 0;
    opacity: 0;
    right: 50%;
    z-index: -1;
    visibility: hidden; }
    .mars5e-card .mars5e-action .mars5e-result .dice-tooltip .part-header,
    .mars5e-card .mars5e-action .mars5e-result .dice-tooltip .part-header > * {
      flex-wrap: nowrap;
      white-space: nowrap; }
    .mars5e-card .mars5e-action .mars5e-result .dice-tooltip:after {
      content: "";
      position: absolute;
      left: calc(50% - 0.25em);
      top: 100%;
      border: 0.5em solid;
      border-color: var(--mars5e-tooltip-bg-color) transparent transparent transparent; }
    .mars5e-card .mars5e-action .mars5e-result .dice-tooltip .part-flavor {
      color: var(--mars5e-tooltip-font-color); }
    .mars5e-card .mars5e-action .mars5e-result .dice-tooltip .dice-rolls {
      min-width: 20ch; }
  .mars5e-card .mars5e-action .mars5e-result:hover .dice-tooltip {
    right: -50%;
    width: 20ch;
    opacity: 1;
    transition: all 0.3s 1s ease-in-out;
    z-index: 1;
    visibility: visible; }

.mars5e-card .damage {
  position: relative; }
  .mars5e-card .damage .rollable,
  .mars5e-card .damage .mars5e-result {
    position: relative; }
    .mars5e-card .damage .rollable[data-dmg-type-label]:after,
    .mars5e-card .damage .mars5e-result[data-dmg-type-label]:after {
      content: attr(data-dmg-type-label); }
  .mars5e-card .damage .mars5e-result[data-resistance]:before {
    white-space: nowrap;
    font-weight: normal;
    text-align: right;
    position: absolute;
    right: calc(100% + 0.5ch);
    opacity: 0.8;
    content: attr(data-resistance) " •"; }
  .mars5e-card .damage .mars5e-result[data-resistance="0.25"]:before {
    content: "¼ •"; }
  .mars5e-card .damage .mars5e-result[data-resistance="0.5"]:before {
    content: "½ •"; }
  .mars5e-card .damage.critical label:after {
    text-align: right;
    margin-left: 1ch;
    content: var(--mars5e-crit-label); }
  .mars5e-card .damage .dmg-type {
    width: 0;
    font-size: 0.9em; }
  .mars5e-card .damage label:hover + .mars5e-apply-dmg-menu,
  .mars5e-card .damage .mars5e-apply-dmg-menu:hover {
    opacity: 1;
    transition: all 0.2s ease-out 0.3s; }
  .mars5e-card .damage .mars5e-apply-dmg-menu {
    position: absolute;
    flex: 0;
    width: 3ch;
    display: block;
    flex-flow: row wrap;
    opacity: 0;
    overflow: visible;
    transition: all 0.2s ease-in 1s;
    left: -3.5ch;
    top: 2ch;
    font-size: 0.9em; }
    .mars5e-card .damage .mars5e-apply-dmg-menu button {
      pointer-events: initial;
      flex: 0 3ch;
      width: 3ch;
      height: 3ch;
      font-size: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      overflow: hidden;
      cursor: pointer; }
      .mars5e-card .damage .mars5e-apply-dmg-menu button i {
        margin: 0.2em;
        font-size: 1.3em; }
      .mars5e-card .damage .mars5e-apply-dmg-menu button:before {
        content: var(--mars5e-apply-label) ": " attr(data-amount);
        backdrop-filter: blur(0.3em);
        color: var(--mars5e-tooltip-font-color);
        background: var(--mars5e-tooltip-bg-color);
        position: absolute;
        top: -1.5em;
        left: 0;
        font-size: 0.8em;
        white-space: nowrap;
        display: block;
        line-height: 1em;
        padding: 0.5ch 1ch;
        border-radius: 0.5ch;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease-in-out; }
      .mars5e-card .damage .mars5e-apply-dmg-menu button:hover:before {
        opacity: 1;
        transition: opacity 0.2s 0.3s ease-in-out; }
      .mars5e-card .damage .mars5e-apply-dmg-menu button:before {
        z-index: 1; }
    .mars5e-card .damage .mars5e-apply-dmg-menu .mars5e-apply-versatile:hover:before {
      /* prettier-ignore */
      content: var(--mars5e-apply-label) " " var(--mars5e-versatile-label) ": " attr(data-amount);
      top: 1ch; }

.mars5e-card .mars5e-area-dmg label,
.mars5e-card .mars5e-area-dmg .mars5e-apply-dmg-menu {
  pointer-events: none; }

.mars5e-card .mars5e-area-dmg .mars5e-apply-dmg-menu {
  display: none; }

.mars5e-card .mars5e-result {
  flex: 0 auto; }
  .mars5e-card .mars5e-result .result-total {
    border: 1px outset var(--mars5e-border-color);
    font-size: 1.2em;
    height: 0.9em;
    line-height: 0.9em;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 8ch;
    border-radius: 0.4ch; }
  .mars5e-card .mars5e-result.critical .result-total {
    box-shadow: inset 0 -0.3em 0.6em 0em var(--mars5e-success); }
  .mars5e-card .mars5e-result.fumble .result-total {
    box-shadow: inset 0 -0.3em 0.6em 0em var(--mars5e-fail); }

.mars5e-card .mars5e-area-dmg .damage .mars5e-result:before {
  display: none; }

.mars5e-gm .mars5e-gm-target .mars5e-toggle-target-visibility {
  position: absolute;
  width: 2ch;
  right: 0;
  top: 0.1ch; }
  .mars5e-gm .mars5e-gm-target .mars5e-toggle-target-visibility:after {
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    content: "\f06e";
    opacity: 0;
    transition: opacity 0.3s ease-in-out; }
  .mars5e-gm .mars5e-gm-target .mars5e-toggle-target-visibility:hover:after {
    opacity: 1;
    transition: opacity 0.3s 0.6s ease-in-out; }

.mars5e-gm .mars5e-gm-target.mars5e-invisible-target {
  background: var(--mars5e-invis-target-background-color); }
  .mars5e-gm .mars5e-gm-target.mars5e-invisible-target .mars5e-toggle-target-visibility:after {
    content: "\f070"; }

.mars5e-dice-container {
  position: relative;
  width: 1.55em;
  height: 1.55em;
  display: inline-block;
  filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5));
  counter-increment: anim-counter;
  transition: margin var(--mars5e-dice-anim-time) ease-in-out, transform calc(0.5* var(--mars5e-dice-anim-time)) ease-in-out calc(counter(anim-counter) * 1ms), left var(--mars5e-dice-anim-time) ease-in-out; }
  .mars5e-dice-container.mars5e-discarded {
    transform: scale3D(0.8, 0.8, 0.8);
    margin: 0 -0.155em; }
    .mars5e-dice-container.mars5e-discarded:after, .mars5e-dice-container.mars5e-discarded:before {
      position: absolute;
      content: '';
      background: var(--mars5e-fail);
      display: block;
      width: 10%;
      height: 150%;
      transform: rotate(-45deg);
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 2;
      clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 33%, 100% 32%, 100% 72%, 0 72%, 0 100%, 100% 100%, 100% 0%);
      pointer-events: none; }
    .mars5e-dice-container.mars5e-discarded:after {
      transform: rotate(45deg); }

.attack .mars5e-roll:not(.rolled) .mars5e-adv .mars5e-dice-container:nth-child(2), .attack .mars5e-roll:not(.rolled) .mars5e-dis .mars5e-dice-container:nth-child(2) {
  transform: scale3D(0.8, 0.8, 0.8);
  margin: 0 -0.155em;
  left: 0; }

.attack .mars5e-roll:not(.rolled) .mars5e-dice-container:nth-child(2) {
  transform: scale3D(0, 0, 0);
  left: -1.395em;
  margin-right: -1.395em; }

.mars5e-d10 {
  width: 1.55em;
  height: 1.55em;
  display: inline-block;
  position: absolute;
  perspective: 15.5em;
  transform-style: preserve-3d;
  transition: transform var(--mars5e-dice-anim-time) linear; }
  .mars5e-d10 .face {
    background: var(--mars5e-dice-color);
    backface-visibility: hidden;
    clip-path: polygon(50% 0%, 100% 80.64516%, 50% 100%, 0 80.64516%);
    width: 0.93em;
    height: 1.1532em;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -0.465em;
    margin-top: 0.2325em; }
  .mars5e-d10 .number {
    color: var(--mars5e-font-color);
    font-family: 'RobotoCondensed', sans-serif;
    font-family: "Signika", "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 0.69192em;
    font-weight: 600;
    margin-top: 0.34596em;
    text-align: center;
    transition: opacity var(--mars5e-dice-anim-time) linear; }
  .mars5e-d10 .face:nth-child(1) {
    transform: rotateY(0deg) translateZ(0.39209em) translateY(-0.32364em) rotateX(45deg);
    filter: brightness(1.2); }
  .mars5e-d10 .face:nth-child(2) {
    transform: rotateY(-72deg) translateZ(-0.39209em) translateY(0.32364em) rotateZ(180deg) rotateY(180deg) rotateX(45deg);
    filter: brightness(1.2); }
  .mars5e-d10 .face:nth-child(3) {
    transform: rotateY(-72deg) translateZ(0.39209em) translateY(-0.32364em) rotateX(45deg);
    filter: brightness(0.8); }
  .mars5e-d10 .face:nth-child(4) {
    transform: rotateY(-144deg) translateZ(-0.39209em) translateY(0.32364em) rotateZ(180deg) rotateY(180deg) rotateX(45deg);
    filter: brightness(0.8); }
  .mars5e-d10 .face:nth-child(5) {
    transform: rotateY(-144deg) translateZ(0.39209em) translateY(-0.32364em) rotateX(45deg);
    filter: brightness(1.2); }
  .mars5e-d10 .face:nth-child(6) {
    transform: rotateY(-216deg) translateZ(-0.39209em) translateY(0.32364em) rotateZ(180deg) rotateY(180deg) rotateX(45deg);
    filter: brightness(1.2); }
  .mars5e-d10 .face:nth-child(7) {
    transform: rotateY(-216deg) translateZ(0.39209em) translateY(-0.32364em) rotateX(45deg);
    filter: brightness(0.8); }
  .mars5e-d10 .face:nth-child(8) {
    transform: rotateY(-288deg) translateZ(-0.39209em) translateY(0.32364em) rotateZ(180deg) rotateY(180deg) rotateX(45deg);
    filter: brightness(0.8); }
  .mars5e-d10 .face:nth-child(9) {
    transform: rotateY(-288deg) translateZ(0.39209em) translateY(-0.32364em) rotateX(45deg);
    filter: brightness(1.2); }
  .mars5e-d10 .face:nth-child(10) {
    transform: rotateY(-360deg) translateZ(-0.39209em) translateY(0.32364em) rotateZ(180deg) rotateY(180deg) rotateX(45deg);
    filter: brightness(1.2); }

.mars5e-dice-container[data-roll="1"] .mars5e-d10 {
  transform: rotateX(-45deg) rotateY(0deg); }
  .mars5e-dice-container[data-roll="1"] .mars5e-d10 .face:nth-child(1) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="1"] .mars5e-d10 .face:nth-child(1) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="2"] .mars5e-d10 {
  transform: rotateX(-225deg) rotateY(-72deg); }
  .mars5e-dice-container[data-roll="2"] .mars5e-d10 .face:nth-child(8) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="2"] .mars5e-d10 .face:nth-child(8) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="9"] .mars5e-d10 {
  transform: rotateX(-45deg) rotateY(72deg); }
  .mars5e-dice-container[data-roll="9"] .mars5e-d10 .face:nth-child(3) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="9"] .mars5e-d10 .face:nth-child(3) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="6"] .mars5e-d10 {
  transform: rotateX(-225deg) rotateY(-144deg); }
  .mars5e-dice-container[data-roll="6"] .mars5e-d10 .face:nth-child(6) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="6"] .mars5e-d10 .face:nth-child(6) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="5"] .mars5e-d10 {
  transform: rotateX(-45deg) rotateY(144deg); }
  .mars5e-dice-container[data-roll="5"] .mars5e-d10 .face:nth-child(5) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="5"] .mars5e-d10 .face:nth-child(5) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="4"] .mars5e-d10 {
  transform: rotateX(-225deg) rotateY(-216deg); }
  .mars5e-dice-container[data-roll="4"] .mars5e-d10 .face:nth-child(4) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="4"] .mars5e-d10 .face:nth-child(4) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="3"] .mars5e-d10 {
  transform: rotateX(-45deg) rotateY(216deg); }
  .mars5e-dice-container[data-roll="3"] .mars5e-d10 .face:nth-child(7) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="3"] .mars5e-d10 .face:nth-child(7) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="10"] .mars5e-d10 {
  transform: rotateX(-225deg) rotateY(-288deg); }
  .mars5e-dice-container[data-roll="10"] .mars5e-d10 .face:nth-child(2) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="10"] .mars5e-d10 .face:nth-child(2) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="7"] .mars5e-d10 {
  transform: rotateX(-45deg) rotateY(288deg); }
  .mars5e-dice-container[data-roll="7"] .mars5e-d10 .face:nth-child(9) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="7"] .mars5e-d10 .face:nth-child(9) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="8"] .mars5e-d10 {
  transform: rotateX(-225deg) rotateY(-360deg); }
  .mars5e-dice-container[data-roll="8"] .mars5e-d10 .face:nth-child(10) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="8"] .mars5e-d10 .face:nth-child(10) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll] .mars5e-d10 .number {
  opacity: 0.4; }

.mars5e-d12 {
  width: 1.55em;
  height: 1.55em;
  display: inline-block;
  position: absolute;
  perspective: 15.5em;
  transform-style: preserve-3d;
  transition: transform var(--mars5e-dice-anim-time) linear;
  transform: rotateX(20deg); }
  .mars5e-d12 .face {
    background: var(--mars5e-dice-color);
    backface-visibility: hidden;
    clip-path: polygon(50% 100%, 100% 62%, 82% 0%, 18% 0%, 0% 62%);
    width: 0.9404em;
    height: 0.9404em;
    position: absolute;
    left: 50%;
    top: 0%;
    margin-left: -0.4495em;
    margin-top: 0.0775em;
    transform-origin: top; }
  .mars5e-d12 .number {
    color: var(--mars5e-font-color);
    font-family: "Signika", "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 0.7053em;
    font-weight: 600;
    margin-top: 0em;
    text-align: center;
    transition: opacity var(--mars5e-dice-anim-time) linear;
    transform: scale(-1, -1);
    opacity: 0.8; }
  .mars5e-d12 .face:nth-child(1) {
    width: 0.9404em;
    width: 0.96391em;
    height: 0.931em;
    transform: translateY(1.38726em) translateX(-0.01193em) translateZ(-0.41771em) rotateY(180deg) rotateX(-90deg); }
  .mars5e-d12 .face:nth-child(2) {
    transform-origin: center;
    width: 0.96391em;
    height: 0.931em;
    transform: translateY(-0.46867em) translateX(-0.01193em) translateZ(-0.04774em) rotateY(180deg) rotateX(90deg); }
  .mars5e-d12 .face:nth-child(3) {
    filter: brightness(1.2);
    transform: rotateY(216deg) translateY(0) rotateZ(0deg) translateZ(0.41055em) rotateX(23.55795deg); }
  .mars5e-d12 .face:nth-child(4) {
    filter: brightness(0.8);
    transform: rotateY(324deg) translateY(1.39555em) rotateZ(180deg) translateZ(0.41055em) rotateX(23.55795deg); }
  .mars5e-d12 .face:nth-child(5) {
    filter: brightness(1.2);
    transform: rotateY(432deg) translateY(0) rotateZ(0deg) translateZ(0.41055em) rotateX(23.55795deg); }
  .mars5e-d12 .face:nth-child(6) {
    filter: brightness(0.8);
    transform: rotateY(540deg) translateY(1.39555em) rotateZ(180deg) translateZ(0.41055em) rotateX(23.55795deg); }
  .mars5e-d12 .face:nth-child(7) {
    filter: brightness(1.2);
    transform: rotateY(648deg) translateY(0) rotateZ(0deg) translateZ(0.41055em) rotateX(23.55795deg); }
  .mars5e-d12 .face:nth-child(8) {
    filter: brightness(0.8);
    transform: rotateY(756deg) translateY(1.39555em) rotateZ(180deg) translateZ(0.41055em) rotateX(23.55795deg); }
  .mars5e-d12 .face:nth-child(9) {
    filter: brightness(1.2);
    transform: rotateY(864deg) translateY(0) rotateZ(0deg) translateZ(0.41055em) rotateX(23.55795deg); }
  .mars5e-d12 .face:nth-child(10) {
    filter: brightness(0.8);
    transform: rotateY(972deg) translateY(1.39555em) rotateZ(180deg) translateZ(0.41055em) rotateX(23.55795deg); }
  .mars5e-d12 .face:nth-child(11) {
    filter: brightness(1.2);
    transform: rotateY(1080deg) translateY(0) rotateZ(0deg) translateZ(0.41055em) rotateX(23.55795deg); }
  .mars5e-d12 .face:nth-child(12) {
    filter: brightness(0.8);
    transform: rotateY(1188deg) translateY(1.39555em) rotateZ(180deg) translateZ(0.41055em) rotateX(23.55795deg); }

.mars5e-dice-container[data-roll="1"] .mars5e-d12 {
  transform: rotateX(-90deg); }
  .mars5e-dice-container[data-roll="1"] .mars5e-d12 .face:nth-child(2) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="1"] .mars5e-d12 .face:nth-child(2) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="12"] .mars5e-d12 {
  transform: rotateX(90deg); }
  .mars5e-dice-container[data-roll="12"] .mars5e-d12 .face:nth-child(1) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="12"] .mars5e-d12 .face:nth-child(1) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="3"] .mars5e-d12 {
  transform: rotateZ(0deg) rotateX(23.55795deg) rotateY(36deg); }
  .mars5e-dice-container[data-roll="3"] .mars5e-d12 .face:nth-child(4) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="3"] .mars5e-d12 .face:nth-child(4) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="6"] .mars5e-d12 {
  transform: rotateZ(180deg) rotateX(-23.55795deg) rotateY(72deg); }
  .mars5e-dice-container[data-roll="6"] .mars5e-d12 .face:nth-child(7) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="6"] .mars5e-d12 .face:nth-child(7) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="9"] .mars5e-d12 {
  transform: rotateZ(0deg) rotateX(23.55795deg) rotateY(180deg); }
  .mars5e-dice-container[data-roll="9"] .mars5e-d12 .face:nth-child(6) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="9"] .mars5e-d12 .face:nth-child(6) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="10"] .mars5e-d12 {
  transform: rotateZ(180deg) rotateX(-23.55795deg) rotateY(216deg); }
  .mars5e-dice-container[data-roll="10"] .mars5e-d12 .face:nth-child(9) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="10"] .mars5e-d12 .face:nth-child(9) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="8"] .mars5e-d12 {
  transform: rotateZ(0deg) rotateX(23.55795deg) rotateY(324deg); }
  .mars5e-dice-container[data-roll="8"] .mars5e-d12 .face:nth-child(8) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="8"] .mars5e-d12 .face:nth-child(8) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="4"] .mars5e-d12 {
  transform: rotateZ(180deg) rotateX(-23.55795deg) rotateY(360deg); }
  .mars5e-dice-container[data-roll="4"] .mars5e-d12 .face:nth-child(11) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="4"] .mars5e-d12 .face:nth-child(11) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="11"] .mars5e-d12 {
  transform: rotateZ(0deg) rotateX(23.55795deg) rotateY(468deg); }
  .mars5e-dice-container[data-roll="11"] .mars5e-d12 .face:nth-child(10) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="11"] .mars5e-d12 .face:nth-child(10) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="5"] .mars5e-d12 {
  transform: rotateZ(180deg) rotateX(-23.55795deg) rotateY(504deg); }
  .mars5e-dice-container[data-roll="5"] .mars5e-d12 .face:nth-child(3) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="5"] .mars5e-d12 .face:nth-child(3) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="7"] .mars5e-d12 {
  transform: rotateZ(0deg) rotateX(23.55795deg) rotateY(612deg); }
  .mars5e-dice-container[data-roll="7"] .mars5e-d12 .face:nth-child(12) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="7"] .mars5e-d12 .face:nth-child(12) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll="2"] .mars5e-d12 {
  transform: rotateZ(180deg) rotateX(-23.55795deg) rotateY(648deg); }
  .mars5e-dice-container[data-roll="2"] .mars5e-d12 .face:nth-child(5) {
    filter: brightness(1.2); }
    .mars5e-dice-container[data-roll="2"] .mars5e-d12 .face:nth-child(5) .number {
      opacity: 1; }

.mars5e-dice-container[data-roll] .mars5e-d12 .face {
  filter: brightness(0.8); }

.mars5e-dice-container[data-roll] .mars5e-d12 .number {
  opacity: 0.4; }

@use "sass:map";
@keyframes roll {
  10% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  30% {
    transform: rotateX(120deg) rotateY(240deg) rotateZ(0deg) translateX(40px) translateY(40px); }
  50% {
    transform: rotateX(240deg) rotateY(480deg) rotateZ(0deg) translateX(-40px) translateY(-40px); }
  70% {
    transform: rotateX(360deg) rotateY(720deg) rotateZ(0deg); }
  90% {
    transform: rotateX(480deg) rotateY(960deg) rotateZ(0deg); } }

.mars5e-adv .mars5e-dice-container:nth-child(1) .mars5e-d20 {
  transform: rotateX(-53deg) rotateY(288deg); }

.mars5e-adv .mars5e-dice-container:nth-child(2) .mars5e-d20 {
  transform: rotateX(127deg) rotateY(-144deg); }

.mars5e-dis .mars5e-dice-container:nth-child(1) .mars5e-d20 {
  transform: rotateX(127deg) rotateY(-144deg); }

.mars5e-dis .mars5e-dice-container:nth-child(2) .mars5e-d20 {
  transform: rotateX(-53deg) rotateY(288deg); }

/**
 * Rotations for the rolls
**/
.mars5e-rolls .mars5e-dice-container[data-roll] .mars5e-d20 .number {
  opacity: 0.4; }

.mars5e-rolls .mars5e-dice-container[data-roll="18"] .mars5e-d20 {
  transform: rotateX(-53deg) rotateY(0deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="18"] .mars5e-d20 .face:nth-child(1) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="18"] .mars5e-d20 .face:nth-child(1) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="18"] .face:nth-child(1) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="18"] .face:nth-child(1) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="2"] .mars5e-d20 {
  transform: rotateX(-53deg) rotateY(72deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="2"] .mars5e-d20 .face:nth-child(2) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="2"] .mars5e-d20 .face:nth-child(2) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="2"] .face:nth-child(2) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="2"] .face:nth-child(2) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="4"] .mars5e-d20 {
  transform: rotateX(-53deg) rotateY(144deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="4"] .mars5e-d20 .face:nth-child(3) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="4"] .mars5e-d20 .face:nth-child(3) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="4"] .face:nth-child(3) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="4"] .face:nth-child(3) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="5"] .mars5e-d20 {
  transform: rotateX(-53deg) rotateY(216deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="5"] .mars5e-d20 .face:nth-child(4) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="5"] .mars5e-d20 .face:nth-child(4) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="5"] .face:nth-child(4) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="5"] .face:nth-child(4) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="20"] .mars5e-d20 {
  transform: rotateX(-53deg) rotateY(288deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="20"] .mars5e-d20 .face:nth-child(5) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="20"] .mars5e-d20 .face:nth-child(5) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="20"] .face:nth-child(5) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="20"] .face:nth-child(5) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="16"] .mars5e-d20 {
  transform: rotateX(127deg) rotateY(-72deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="16"] .mars5e-d20 .face:nth-child(16) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="16"] .mars5e-d20 .face:nth-child(16) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="16"] .face:nth-child(16) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="16"] .face:nth-child(16) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="1"] .mars5e-d20 {
  transform: rotateX(127deg) rotateY(-144deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="1"] .mars5e-d20 .face:nth-child(17) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="1"] .mars5e-d20 .face:nth-child(17) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="1"] .face:nth-child(17) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="1"] .face:nth-child(17) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="3"] .mars5e-d20 {
  transform: rotateX(127deg) rotateY(-216deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="3"] .mars5e-d20 .face:nth-child(18) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="3"] .mars5e-d20 .face:nth-child(18) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="3"] .face:nth-child(18) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="3"] .face:nth-child(18) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="19"] .mars5e-d20 {
  transform: rotateX(127deg) rotateY(-288deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="19"] .mars5e-d20 .face:nth-child(19) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="19"] .mars5e-d20 .face:nth-child(19) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="19"] .face:nth-child(19) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="19"] .face:nth-child(19) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="17"] .mars5e-d20 {
  transform: rotateX(127deg) rotateY(-360deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="17"] .mars5e-d20 .face:nth-child(20) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="17"] .mars5e-d20 .face:nth-child(20) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="17"] .face:nth-child(20) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="17"] .face:nth-child(20) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="8"] .mars5e-d20 {
  transform: rotateX(11deg) rotateZ(180deg) rotateY(0deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="8"] .mars5e-d20 .face:nth-child(6) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="8"] .mars5e-d20 .face:nth-child(6) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="8"] .face:nth-child(6) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="8"] .face:nth-child(6) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="7"] .mars5e-d20 {
  transform: rotateX(11deg) rotateZ(180deg) rotateY(72deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="7"] .mars5e-d20 .face:nth-child(7) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="7"] .mars5e-d20 .face:nth-child(7) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="7"] .face:nth-child(7) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="7"] .face:nth-child(7) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="15"] .mars5e-d20 {
  transform: rotateX(11deg) rotateZ(180deg) rotateY(144deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="15"] .mars5e-d20 .face:nth-child(8) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="15"] .mars5e-d20 .face:nth-child(8) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="15"] .face:nth-child(8) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="15"] .face:nth-child(8) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="10"] .mars5e-d20 {
  transform: rotateX(11deg) rotateZ(180deg) rotateY(216deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="10"] .mars5e-d20 .face:nth-child(9) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="10"] .mars5e-d20 .face:nth-child(9) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="10"] .face:nth-child(9) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="10"] .face:nth-child(9) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="12"] .mars5e-d20 {
  transform: rotateX(11deg) rotateZ(180deg) rotateY(288deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="12"] .mars5e-d20 .face:nth-child(10) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="12"] .mars5e-d20 .face:nth-child(10) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="12"] .face:nth-child(10) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="12"] .face:nth-child(10) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="11"] .mars5e-d20 {
  transform: rotateX(11deg) rotateY(-252deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="11"] .mars5e-d20 .face:nth-child(11) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="11"] .mars5e-d20 .face:nth-child(11) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="11"] .face:nth-child(11) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="11"] .face:nth-child(11) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="9"] .mars5e-d20 {
  transform: rotateX(11deg) rotateY(-324deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="9"] .mars5e-d20 .face:nth-child(12) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="9"] .mars5e-d20 .face:nth-child(12) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="9"] .face:nth-child(12) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="9"] .face:nth-child(12) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="13"] .mars5e-d20 {
  transform: rotateX(11deg) rotateY(-396deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="13"] .mars5e-d20 .face:nth-child(13) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="13"] .mars5e-d20 .face:nth-child(13) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="13"] .face:nth-child(13) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="13"] .face:nth-child(13) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="14"] .mars5e-d20 {
  transform: rotateX(11deg) rotateY(-468deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="14"] .mars5e-d20 .face:nth-child(14) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="14"] .mars5e-d20 .face:nth-child(14) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="14"] .face:nth-child(14) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="14"] .face:nth-child(14) .number {
  color: var(--mars5e-fail); }

.mars5e-rolls .mars5e-dice-container[data-roll="6"] .mars5e-d20 {
  transform: rotateX(11deg) rotateY(-540deg); }
  .mars5e-rolls .mars5e-dice-container[data-roll="6"] .mars5e-d20 .face:nth-child(15) {
    filter: brightness(1.2); }
    .mars5e-rolls .mars5e-dice-container[data-roll="6"] .mars5e-d20 .face:nth-child(15) .number {
      opacity: 1; }

.mars5e-rolls .mars5e-dice-container.mars5e-success[data-roll="6"] .face:nth-child(15) .number {
  color: var(--mars5e-success); }

.mars5e-rolls .mars5e-dice-container.mars5e-fail[data-roll="6"] .face:nth-child(15) .number {
  color: var(--mars5e-fail); }

.mars5e-d20 {
  perspective: 10em;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform var(--mars5e-dice-anim-time) linear;
  cursor: pointer;
  transform: rotateZ(10deg) rotateY(-60deg) rotateX(40deg); }
  .mars5e-d20 .face {
    backface-visibility: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -0.4375em;
    margin-top: -0.09406em;
    width: 0.875em;
    height: 0.7525em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 0;
    height: 0;
    border-left: 0.4375em solid transparent;
    border-right: 0.4375em solid transparent;
    border-bottom: 0.7525em solid var(--mars5e-dice-color);
    /**
		 * Rotate faces so it looks like a D20
		 */ }
    .mars5e-d20 .face .number {
      position: absolute;
      top: 0.903em;
      left: -0.875em;
      font-size: 0.41387em;
      text-align: center;
      line-height: 0.67725em;
      width: 1.75em;
      height: 0.7525em;
      font-weight: bold;
      font-family: "Signika", "Modesto Condensed", "Palatino Linotype", serif;
      color: var(--mars5e-font-color);
      opacity: 0.8;
      transition: opacity var(--mars5e-dice-anim-time) linear; }
    .mars5e-d20 .face:nth-child(5) .number {
      color: var(--mars5e-success); }
    .mars5e-d20 .face:nth-child(17) .number {
      color: var(--mars5e-fail); }
    .mars5e-d20 .face:nth-child(1) {
      transform: rotateY(0deg) translateZ(0.29313em) translateY(-0.11287em) rotateX(53deg); }
      .mars5e-d20 .face:nth-child(1) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(2) {
      transform: rotateY(-72deg) translateZ(0.29313em) translateY(-0.11287em) rotateX(53deg);
      filter: brightness(1.2); }
      .mars5e-d20 .face:nth-child(2) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(3) {
      transform: rotateY(-144deg) translateZ(0.29313em) translateY(-0.11287em) rotateX(53deg); }
      .mars5e-d20 .face:nth-child(3) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(4) {
      transform: rotateY(-216deg) translateZ(0.29313em) translateY(-0.11287em) rotateX(53deg);
      filter: brightness(1.2); }
      .mars5e-d20 .face:nth-child(4) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(5) {
      transform: rotateY(-288deg) translateZ(0.29313em) translateY(-0.11287em) rotateX(53deg); }
      .mars5e-d20 .face:nth-child(5) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(16) {
      transform: rotateY(-108deg) translateZ(0.29313em) translateY(1.06102em) rotateZ(180deg) rotateX(53deg);
      filter: brightness(1.2); }
      .mars5e-d20 .face:nth-child(16) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(17) {
      transform: rotateY(-36deg) translateZ(0.29313em) translateY(1.06102em) rotateZ(180deg) rotateX(53deg); }
      .mars5e-d20 .face:nth-child(17) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(18) {
      transform: rotateY(36deg) translateZ(0.29313em) translateY(1.06102em) rotateZ(180deg) rotateX(53deg);
      filter: brightness(1.2); }
      .mars5e-d20 .face:nth-child(18) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(19) {
      transform: rotateY(108deg) translateZ(0.29313em) translateY(1.06102em) rotateZ(180deg) rotateX(53deg); }
      .mars5e-d20 .face:nth-child(19) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(20) {
      transform: rotateY(180deg) translateZ(0.29313em) translateY(1.06102em) rotateZ(180deg) rotateX(53deg);
      filter: brightness(1.2); }
      .mars5e-d20 .face:nth-child(20) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(6) {
      transform: rotateY(360deg) translateZ(0.65625em) translateY(0.47407em) rotateZ(180deg) rotateX(-11deg);
      filter: brightness(1.3); }
      .mars5e-d20 .face:nth-child(6) else {
        filter: brightness(0.7); }
    .mars5e-d20 .face:nth-child(7) {
      transform: rotateY(288deg) translateZ(0.65625em) translateY(0.47407em) rotateZ(180deg) rotateX(-11deg); }
      .mars5e-d20 .face:nth-child(7) else {
        filter: brightness(0.7); }
    .mars5e-d20 .face:nth-child(8) {
      transform: rotateY(216deg) translateZ(0.65625em) translateY(0.47407em) rotateZ(180deg) rotateX(-11deg);
      filter: brightness(1.3); }
      .mars5e-d20 .face:nth-child(8) else {
        filter: brightness(0.7); }
    .mars5e-d20 .face:nth-child(9) {
      transform: rotateY(144deg) translateZ(0.65625em) translateY(0.47407em) rotateZ(180deg) rotateX(-11deg); }
      .mars5e-d20 .face:nth-child(9) else {
        filter: brightness(0.7); }
    .mars5e-d20 .face:nth-child(10) {
      transform: rotateY(72deg) translateZ(0.65625em) translateY(0.47407em) rotateZ(180deg) rotateX(-11deg);
      filter: brightness(1.3); }
      .mars5e-d20 .face:nth-child(10) else {
        filter: brightness(0.7); }
    .mars5e-d20 .face:nth-child(11) {
      transform: rotateY(252deg) translateZ(0.65625em) translateY(0.47407em) rotateX(-11deg); }
      .mars5e-d20 .face:nth-child(11) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(12) {
      transform: rotateY(324deg) translateZ(0.65625em) translateY(0.47407em) rotateX(-11deg);
      filter: brightness(1.2); }
      .mars5e-d20 .face:nth-child(12) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(13) {
      transform: rotateY(396deg) translateZ(0.65625em) translateY(0.47407em) rotateX(-11deg); }
      .mars5e-d20 .face:nth-child(13) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(14) {
      transform: rotateY(468deg) translateZ(0.65625em) translateY(0.47407em) rotateX(-11deg);
      filter: brightness(1.2); }
      .mars5e-d20 .face:nth-child(14) else {
        filter: brightness(0.8); }
    .mars5e-d20 .face:nth-child(15) {
      transform: rotateY(540deg) translateZ(0.65625em) translateY(0.47407em) rotateX(-11deg); }
      .mars5e-d20 .face:nth-child(15) else {
        filter: brightness(0.8); }

.mars5e-d4 {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform var(--mars5e-dice-anim-time) linear;
  transform: translateY(0.2em) rotateX(-90deg); }
  .mars5e-d4 .face {
    background: var(--mars5e-dice-color);
    backface-visibility: hidden;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 1.5em;
    height: 1.299em;
    position: absolute;
    transform-origin: center top; }
  .mars5e-d4 .number {
    color: var(--mars5e-font-color);
    font-family: "Signika", "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 0.45em;
    text-align: center;
    transition: opacity var(--mars5e-dice-anim-time) linear; }
  .mars5e-d4 .face:nth-child(4) {
    transform: rotateX(-90deg) rotateZ(180deg) translateY(-0.866em) translateZ(1.22362em); }
  .mars5e-d4 .face:nth-child(1) {
    transform: rotateY(0deg) rotateX(19.47122deg); }
  .mars5e-d4 .face:nth-child(2) {
    transform: rotateY(120deg) rotateX(19.47122deg); }
  .mars5e-d4 .face:nth-child(3) {
    transform: rotateY(240deg) rotateX(19.47122deg); }

.mars5e-dice-container[data-roll="1"] .mars5e-d4 {
  transform: rotateX(-30deg) rotateY(0deg); }

.mars5e-dice-container[data-roll="2"] .mars5e-d4 {
  transform: rotateX(-30deg) rotateY(-120deg); }

.mars5e-dice-container[data-roll="3"] .mars5e-d4 {
  transform: rotateX(-30deg) rotateY(-240deg); }

.mars5e-dice-container[data-roll="4"] .mars5e-d4 {
  transform: translateY(0.2em) rotateX(-90deg) rotateZ(180deg); }

@keyframes mars5e-d4-default {
  0% {
    transform: translateY(0.2em) rotateX(-90deg); }
  100% {
    transform: translateY(0.2em) rotateX(90deg); } }

.mars5e-d6 {
  perspective: 15em;
  width: 1.5em;
  height: 1.5em;
  transform-style: preserve-3d;
  position: absolute;
  transition: transform var(--mars5e-dice-anim-time) linear;
  transform: rotateY(45deg) rotateX(45deg); }
  .mars5e-d6 .number {
    color: var(--mars5e-font-color);
    font-family: "Signika", "Modesto Condensed", "Palatino Linotype", serif;
    font-size: .9em;
    font-weight: 600;
    margin-top: -0.05em;
    text-align: center;
    opacity: 0.8;
    transition: opacity var(--mars5e-dice-anim-time) linear; }
  .mars5e-d6 .face {
    position: absolute;
    backface-visibility: hidden;
    margin: 0.225em;
    width: 1.05em;
    height: 1.05em;
    background: var(--mars5e-dice-color);
    --i: 0;
    transform: rotate3d(var(--i), calc(1 - var(--i)), 0, calc(var(--m, 0)*90deg)) translateZ(0.525em); }
    .mars5e-d6 .face:nth-child(n + 5) {
      --i: 1; }
    .mars5e-d6 .face:nth-child(2) {
      --m:  1; }
    .mars5e-d6 .face:nth-child(3) {
      --m:  2; }
    .mars5e-d6 .face:nth-child(4) {
      --m:  3; }
    .mars5e-d6 .face:nth-child(5) {
      --m:  1; }
    .mars5e-d6 .face:nth-child(6) {
      --m: -1; }

.mars5e-dice-container[data-roll="1"] .mars5e-d6 {
  transform: rotateX(0); }
  .mars5e-dice-container[data-roll="1"] .mars5e-d6 .face:nth-child(1) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="2"] .mars5e-d6 {
  transform: rotateY(90deg); }
  .mars5e-dice-container[data-roll="2"] .mars5e-d6 .face:nth-child(4) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="3"] .mars5e-d6 {
  transform: rotateX(90deg); }
  .mars5e-dice-container[data-roll="3"] .mars5e-d6 .face:nth-child(6) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="4"] .mars5e-d6 {
  transform: rotateX(270deg); }
  .mars5e-dice-container[data-roll="4"] .mars5e-d6 .face:nth-child(5) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="5"] .mars5e-d6 {
  transform: rotateY(270deg); }
  .mars5e-dice-container[data-roll="5"] .mars5e-d6 .face:nth-child(2) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="6"] .mars5e-d6 {
  transform: rotateY(180deg); }
  .mars5e-dice-container[data-roll="6"] .mars5e-d6 .face:nth-child(3) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll] .mars5e-d6 .number {
  opacity: 0.4; }

.mars5e-d8 {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  position: absolute;
  margin: 0 0.175em;
  transform-style: preserve-3d;
  transition: transform var(--mars5e-dice-anim-time) linear;
  transform: scale3d(0.9, 0.9, 0.9) rotateX(-30deg) rotateY(30deg); }
  .mars5e-d8 .face {
    background: var(--mars5e-dice-color);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 1.2em;
    height: 1.0392em;
    position: absolute; }
  .mars5e-d8 .number {
    color: var(--mars5e-font-color);
    font-family: 'RobotoCondensed', sans-serif;
    font-family: "Signika", "Modesto Condensed", "Palatino Linotype", serif;
    font-size: 0.7em;
    font-weight: 600;
    margin-top: 0.3em;
    text-align: center;
    transition: opacity var(--mars5e-dice-anim-time) linear; }
  .mars5e-d8 .face:nth-child(1) {
    transform: rotateY(0deg) rotateX(35.2deg);
    transform-origin: top; }
    .mars5e-d8 .face:nth-child(1) else {
      filter: brightness(0.8); }
  .mars5e-d8 .face:nth-child(2) {
    transform: rotateY(-90deg) rotateX(35.2deg);
    transform-origin: top;
    filter: brightness(1.2); }
    .mars5e-d8 .face:nth-child(2) else {
      filter: brightness(0.8); }
  .mars5e-d8 .face:nth-child(3) {
    transform: rotateY(-180deg) rotateX(35.2deg);
    transform-origin: top; }
    .mars5e-d8 .face:nth-child(3) else {
      filter: brightness(0.8); }
  .mars5e-d8 .face:nth-child(4) {
    transform: rotateY(-270deg) rotateX(35.2deg);
    transform-origin: top;
    filter: brightness(1.2); }
    .mars5e-d8 .face:nth-child(4) else {
      filter: brightness(0.8); }
  .mars5e-d8 .face:nth-child(5) {
    transform: rotateY(-360deg) translateZ(0.6em) translateY(-0.20784em) rotateX(-215deg);
    transform-origin: bottom;
    filter: brightness(1.2); }
    .mars5e-d8 .face:nth-child(5) else {
      filter: brightness(0.8); }
    .mars5e-d8 .face:nth-child(5) .number {
      transform: scale(-1, 1); }
  .mars5e-d8 .face:nth-child(6) {
    transform: rotateY(-450deg) translateZ(0.6em) translateY(-0.20784em) rotateX(-215deg);
    transform-origin: bottom; }
    .mars5e-d8 .face:nth-child(6) else {
      filter: brightness(0.8); }
    .mars5e-d8 .face:nth-child(6) .number {
      transform: scale(-1, 1); }
  .mars5e-d8 .face:nth-child(7) {
    transform: rotateY(-540deg) translateZ(0.6em) translateY(-0.20784em) rotateX(-215deg);
    transform-origin: bottom;
    filter: brightness(1.2); }
    .mars5e-d8 .face:nth-child(7) else {
      filter: brightness(0.8); }
    .mars5e-d8 .face:nth-child(7) .number {
      transform: scale(-1, 1); }
  .mars5e-d8 .face:nth-child(8) {
    transform: rotateY(-630deg) translateZ(0.6em) translateY(-0.20784em) rotateX(-215deg);
    transform-origin: bottom; }
    .mars5e-d8 .face:nth-child(8) else {
      filter: brightness(0.8); }
    .mars5e-d8 .face:nth-child(8) .number {
      transform: scale(-1, 1); }

.mars5e-dice-container[data-roll] .mars5e-d8 .number {
  opacity: 0.4; }

.mars5e-dice-container[data-roll="1"] .mars5e-d8 {
  transform: translateY(0.1em) rotateX(-45deg) rotateY(0deg); }
  .mars5e-dice-container[data-roll="1"] .mars5e-d8 .face:nth-child(1) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="3"] .mars5e-d8 {
  transform: translateY(0.1em) rotateX(-45deg) rotateY(90deg); }
  .mars5e-dice-container[data-roll="3"] .mars5e-d8 .face:nth-child(2) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="5"] .mars5e-d8 {
  transform: translateY(0.1em) rotateX(-45deg) rotateY(180deg); }
  .mars5e-dice-container[data-roll="5"] .mars5e-d8 .face:nth-child(3) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="7"] .mars5e-d8 {
  transform: translateY(0.1em) rotateX(-45deg) rotateY(270deg); }
  .mars5e-dice-container[data-roll="7"] .mars5e-d8 .face:nth-child(4) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="4"] .mars5e-d8 {
  transform: translateY(0.4em) rotateZ(180deg) rotateX(45deg) rotateY(0deg); }
  .mars5e-dice-container[data-roll="4"] .mars5e-d8 .face:nth-child(5) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="6"] .mars5e-d8 {
  transform: translateY(0.4em) rotateZ(180deg) rotateX(45deg) rotateY(90deg); }
  .mars5e-dice-container[data-roll="6"] .mars5e-d8 .face:nth-child(6) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="8"] .mars5e-d8 {
  transform: translateY(0.4em) rotateZ(180deg) rotateX(45deg) rotateY(180deg); }
  .mars5e-dice-container[data-roll="8"] .mars5e-d8 .face:nth-child(7) .number {
    opacity: 1; }

.mars5e-dice-container[data-roll="2"] .mars5e-d8 {
  transform: translateY(0.4em) rotateZ(180deg) rotateX(45deg) rotateY(270deg); }
  .mars5e-dice-container[data-roll="2"] .mars5e-d8 .face:nth-child(8) .number {
    opacity: 1; }
