$container-width: 1.55em;
$container-height: 1.55em;

.mars5e-dice-container {
	position: relative;
	width: $container-width;
	height: $container-height;
	display: inline-block;
	// border: 1px solid black;
	
	filter: drop-shadow(0.1em 0.1em 0.1em rgba(0,0,0,0.5));

	&.mars5e-discarded {
		transform: scale3D(0.8, 0.8, 0.8);
		margin: 0 #{-.1 * $container-width};
		// padding: #{.05 * $container-height} 0;
		&:after, &:before {
			position: absolute;
			content: '';
			background: var(--mars5e-fail); //rgba(255, 0, 0, 1);
			display: block;
			width: 10%;
			height: 150%;
			transform: rotate(-45deg);
			//center the X vertically and horizontally:
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			z-index: 2;
			clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 33%, 100% 32%, 100% 72%, 0 72%, 0 100%, 100% 100%, 100% 0%);
			pointer-events: none;
		}
		&:after {  
			transform: rotate(45deg);
		}
	}
	counter-increment: anim-counter;

	transition: 
				margin var(--mars5e-dice-anim-time) ease-in-out,
				transform calc(0.5* var(--mars5e-dice-anim-time)) ease-in-out calc(counter(anim-counter) * 1ms),
				left var(--mars5e-dice-anim-time) ease-in-out;

	// &[data-roll] {
	// 	visibility: hidden;
	// }
}

.attack .mars5e-roll:not(.rolled) {
	.mars5e-adv, .mars5e-dis {
		.mars5e-dice-container {
			&:nth-child(2) {
				transform: scale3D(0.8, 0.8, 0.8);
				margin: 0 #{-.1 * $container-width};
				left: 0;
			}
		}
	}

	.mars5e-dice-container:nth-child(2) {
		transform: scale3D(0, 0, 0);
		left: -.9*$container-width;
		margin-right: -0.9*$container-width;
	}
}