$size: 1.5em;
$edge: 0.7*$size;

.mars5e-d6 {
  perspective: #{10*$size};
	// position: absolute;
	width: $size;
	height: $size;
	transform-style: preserve-3d;
	position: absolute;
	transition: transform var(--mars5e-dice-anim-time) linear;

	transform: rotateY(45deg) rotateX(45deg);

	.number {
		color: var(--mars5e-font-color);
		font-family: "Signika", "Modesto Condensed", "Palatino Linotype", serif;
		font-size: .9em;
		font-weight: 600;
		margin-top: -0.05em;
		text-align: center;
		opacity: 0.8;
		transition: opacity var(--mars5e-dice-anim-time) linear;
	}

	.face {
		position: absolute;
		backface-visibility: hidden;
		margin: 0.15*$size;
		width: $edge; height: $edge;
		background: var(--mars5e-dice-color);
		
		--i: 0;
		transform: rotate3d(var(--i), calc(1 - var(--i)), 0, calc(var(--m, 0)*90deg)) translateZ(.5*$edge);
		
		&:nth-child(n + 5) { --i: 1; }

		&:nth-child(2) { --m:  1; }
		&:nth-child(3) { --m:  2; }
		&:nth-child(4) { --m:  3; }
		&:nth-child(5) { --m:  1; }
		&:nth-child(6) { --m: -1; }
	}
}

.mars5e-dice-container {
	&[data-roll="1"] .mars5e-d6 {
		transform: rotateX(0);

		.face:nth-child(1) {
			.number {
				opacity: 1;
			}
		}
	}

	&[data-roll="2"] .mars5e-d6 {
		transform: rotateY(90deg);
		.face:nth-child(4) {
			.number {
				opacity: 1;
			}
		}
	}

	&[data-roll="3"] .mars5e-d6 {
		transform: rotateX(90deg);
		.face:nth-child(6) {
			.number {
				opacity: 1;
			}
		}
	}
	&[data-roll="4"] .mars5e-d6 {
		transform: rotateX(270deg);
		.face:nth-child(5) {
			.number {
				opacity: 1;
			}
		}
	}
	&[data-roll="5"] .mars5e-d6 {
		transform: rotateY(270deg);
		.face:nth-child(2) {
			.number {
				opacity: 1;
			}
		}
	}
	&[data-roll="6"] .mars5e-d6 {
		transform: rotateY(180deg);
		.face:nth-child(3) {
			.number {
				opacity: 1;
			}
		}
	}
	&[data-roll] {
		.mars5e-d6 .number {
			opacity: 0.4;
		}
	}
}