$size: 1.2em;
$height: 0.866 * $size;

$tiltangle: 35deg;
$rad: 0.5 * $size;

.mars5e-d8 {
	width: $size;
	height: $size;
	display: inline-block;
	position: absolute;
	margin: 0 #{0.5 * 0.35em};

	transform-style: preserve-3d;
	transition: transform var(--mars5e-dice-anim-time) linear;

	transform:  scale3d(0.9, 0.9, 0.9) rotateX(-30deg) rotateY(30deg);
		
	.face {
		background: var(--mars5e-dice-color);
		// backface-visibility: hidden;
		clip-path:  polygon(50% 0%, 0% 100%, 100% 100%);
		width: $size;
		height: $height;
		position: absolute;
		// transform-origin: center top;
	}

	.number {
		color: var(--mars5e-font-color);
		font-family: 'RobotoCondensed', sans-serif;
		font-family: "Signika", "Modesto Condensed", "Palatino Linotype", serif;
		font-size: 0.7em;
		font-weight: 600;
		margin-top: 0.3em;
		text-align: center;
		transition: opacity var(--mars5e-dice-anim-time) linear;
	}

	@for $i from 1 through 4 {
		.face:nth-child(#{$i}) {
			// display: none;
			transform:
				rotateY(#{($i - 1) *  -90deg})
				rotateX(35.2deg);
			transform-origin: top;
			@if ($i % 2 == 0) {
				filter: brightness(1.2);
			} else {
				filter: brightness(0.8);
			}
		}
	}


	@for $i from 5 through 8 {
		.face:nth-child(#{$i}) {
			// display: none;
			transform:
				rotateY(#{($i - 1) *  -90deg})
				translateZ(#{$rad})
				translateY(#{$height * -0.2})
				rotateX(-215deg);

			transform-origin: bottom;
			@if ($i % 2 == 1) {
				filter: brightness(1.2);
			} else {
				filter: brightness(0.8);
			}
			.number {
				transform: scale(-1, 1);
			}
		}
	}
}


$face-idx-to-num: (
	1: 1,
	7: 8,
	2: 3,
	5: 4,
	3: 5,
	6: 6,
	4: 7,
	8: 2
);

.mars5e-dice-container {
	&[data-roll] {
		.mars5e-d8 .number {
			opacity: 0.4;
		}
	}

	@for $i from 1 through 4 {
		&[data-roll="#{map-get($face-idx-to-num, $i)}"] .mars5e-d8 {
			transform: translateY(0.1em) rotateX(-45deg) rotateY(#{($i - 1) * 90deg});
			.face:nth-child(#{$i}) .number {
				opacity: 1;
			}
		}
	}
	@for $i from 5 through 8 {
		&[data-roll="#{map-get($face-idx-to-num, $i)}"] .mars5e-d8 {
			transform: translateY(0.4em) rotateZ(180deg) rotateX(45deg) rotateY(#{($i - 5) * 90deg}) ;
			
			.face:nth-child(#{$i}) .number {
				opacity: 1;
			}
		}
	}
}