<div class='mars5e-card mars5e-roll-card {{#if isGM}}mars5e-gm-card{{/if}}'>
	<div class="mars5e-action">
			{{#if label}}
			<label>{{label}}</label>
			{{/if}}
			<a class='mars5e-roll mars5e-result' data-advantage='{{advantage}}'><span class='result-total'>{{total}}</span>{{{tooltip}}}</a>
	</div>
</div>